.square {
    background-color: #607d8b;
    color: white;
    box-sizing: border-box;
    position:relative;
    text-align: center;
    border: 0px solid #ccc;
    border-bottom: 3px solid;
    padding-top:2px;
    padding-bottom:0px;
    
}

html, body, form
        {
            height: 100%;
            overflow: auto;
        }
::-webkit-scrollbar {
    display: none;
}

#terminal
{
    white-space:pre-wrap;
}

::file-selector-button {
    color: white;
    background-color: #7a98a7;
    border: transparent;
    border-radius: 3px;
    padding:8px;
    cursor: pointer;
  }

.button {
    background-color: #7a98a7;
    color: white;
  }


#clear:hover{
    text-decoration: underline;
}





.order-bar {
    text-align: left;
    margin: 0;
    padding: 0;
    height: 24px;
}
    
.hor-line {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
    width: auto;
    height: 100%;
    overflow: hidden;

}

ul{
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#options{
    border:1px solid #607d8b!important
}

#options:hover{
    overflow: visible;
    border: 0!important
}

#options:hover ul{
    background-color: #f0f8ff;
    border:1px solid #607d8b!important
}

#options .option:hover {
    background:#bfcbd1;
}

ul{
    position: relative;
}

li{
    text-align:center
}

.underline{
    cursor: pointer;
}
.underline:hover{
    text-decoration: underline !important;;
}

.highlight-debug {
    background: #ffff00;
}
